<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/content/css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="password-box">
        <div class="password-box-img">
            <img src="/content/images/logo.svg" alt="">
        </div>
        <hr>
        <div class="password-form">
            <p class="password-text">
                You forgot your password? Here you can easily retrieve a new password
            </p>
            <form name="form1" action="#">
                <label for="email">
                    <input type="text" id="email" name="text" required>
                    <span class="input-name"> Email </span>
                </label>
            </form>
            <div class="password-form-btn">
                <a href="" name="validate" onclick="ValidateEmail(document.form1.text)">Request new password</a>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/content/js/main.js"></script>
</body>
</html>